body{
box-sizing: border-box;
margin: 0%;
}
header{
    background-image: url(imagens/fundo-abstrato-preto-escuro-com-lascas-de-madeira_24972-208.avif);
    background-repeat: repeat;
    background-position:  top;
    background-size: cover;
   

}
.eu {
    display:flex ;
    flex-direction:row-reverse ;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    font-family: sans-serif;
}
#minhaimagem{
    position: relative;
    left: 20px;
}
#descricao{
    color: white;
}
#name{
    font-size: 50px;
  position: relative;
  left: 1rem;
  bottom: 2rem;
  color: white;
}
#profissao{
    font-size: 40px;
}
#nameprofissao{
    margin: 0%;
    padding: 20px;
    border-radius: 5% 5% 0% 0%;
    border-top: 2px solid white;
    color: white;
    
 
}
#nomeprofissao {
    margin: 0%;
    border-radius: 5% 5% 5% 5%;
    padding: 20px;
    border-bottom: 2px solid white;
    color: antiquewhite;
}
#links{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid antiquewhite;
    list-style-type: none;
    margin-top:0% ;
   padding-top:1rem ;
   padding-bottom: 1rem;
}
#menu{
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
.apresentacao{
    text-align: center;
    position: relative;
    right: 4rem;
   
    
}
#minhaimagem{
    width: 15rem;
    height: 15rem;
    text-align: center;
    border-radius: 50% 50% 50% 50%;
}
main{
    background-image: url(imagens/fundo-abstrato-preto-escuro-com-lascas-de-madeira_24972-208.avif);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    color: aliceblue;
    padding-top: 30px;
}
#skills{
    display: flex;
 justify-content: center;
;}
#linguagens{
    padding: 40px;
    text-align: center;
    font-family: sans-serif;
}
#lista1{
   
    padding-left: 100px;
    border-radius: 10% 0% 0% 10%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}
#lista2{
    padding-right: 100px;
    border-radius: 0% 10% 10% 0%;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.negrito{
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
}
#hardskills{
    margin: 0%;
    display: flex;
 padding-right: 80px;
    align-items: center;
    font-size: 70px;
    font-family: sans-serif;

}
#pagprojeto{
    display: flex;
    justify-content: center;
    font-size:50px ;
    font-family: sans-serif;
    text-decoration:NONE;
}
.projetos{
    display: flex;
    flex-direction: column;
   align-items: end;
    padding-bottom: 30px;
}
#projeto1{
   display: block;
   justify-content:center ;
}
.esquadramento1{
    border-radius: 5% 5% 5% 5%;
    border: 2px solid white;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 20px;
    width: 300px;
}
.descricao {
    text-align: center;
    display: flex;
    justify-content: center;
    
}
#nameprojeto1{
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
}
#linkprojeto1{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
}
#contatar{
    display: flex;
    justify-content: center;
}
.mb-3{
   display: block;
   justify-content:flex-end;
   text-align: end;
   font-size: 1rem;
}
#emailform,#msgform {
    padding-top: 1rem;
}
#nomeinput,#email,#mensagem{
    width: 16rem;
    height: 2rem;

}
#instaimg{
    width: 2rem;
    border-radius:20% ;
}
#linkedinimg{
    width: 2rem;
    border-radius:20% ;
}
#gitimg{
width: 2rem;
border-radius: 60% 60% 60% 60%;
}
#qrcode{
    width: 10rem;
}
.ctt{
    display:flex ;
    justify-content: space-evenly;
}
#gitimg,#linkedinimg,#instaimg{
    position: relative;
    left: 2rem;
}