body{

box-sizing: border-box;
margin: 0%;
}
header{
 
    background-image: url(imagens/fundo-abstrato-preto-escuro-com-lascas-de-madeira_24972-208.avif);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    color: white;
    


}
.eu {
    display:flex ;
    flex-direction:row-reverse ;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    font-family: sans-serif;
}
.apresentacao{

}
#minhaimagem{
    position: relative;
    left: 20px;
}
#name{
    font-size: 50px;
}
#profissao{
    font-size: 40px;
   
}
#nameprofissao{
    margin: 0%;
}
#links{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top:0% ;
    position: relative;
    top: 15px;
    right: 20px;
}
#menu{
    padding-left: 10px;
    text-decoration: none;
}
main{
    background-image: url(imagens/pexels-photo-3047470.jpeg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    color: aliceblue;
   
  
}
#skills{


    display: flex;
 justify-content: center;
;}
#linguagens{
    padding: 40px;

}
#lista1{
    border-radius: 10% 0% 0% 10%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    
}
#lista2{
    border-radius: 0% 10% 10% 0%;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
   

  
